.user-text {
  color: var(--dark-primary-green);
  font-family: var(--bold-font);
  font-weight: 700;
  line-height: 36px;
  font-size: var(--xxx-large-font-size);
  margin-bottom: 6px;
}
.user-greet {
  color: var(--dark-primary-green);
  font-family: var(--regular-font);
  font-weight: 500;
  line-height: 19px;
  font-size: var(--regular-font-size);
}
.account-title {
  color: var(--dark-primary-green);
  font-family: var(--bold-font);
  font-weight: 700;
  line-height: 22px;
  font-size: var(--large-font-size);
  margin-bottom: 6px;
}
.account-name {
  color: var(--primary-grey);
  font-family: var(--regular-font);
  font-weight: 400;
  line-height: 17px;
  font-size: var(--small-font-size);
}