.container {
    margin: auto;
}
.image-width{
    width:100%;
}
.text-section {
    position: absolute;
    width: 70%;
    bottom: 11rem;/* Adjustment to raise the red bar */
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background: #5c0303a1;
    border-radius: 0.625rem; /*10px;*/
    padding: 0.625rem; /*10px;*/
}
/* Tablets */
@media screen and (max-width: 1024px) {
    .text-section {
        bottom: 6rem;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .text-section {
        bottom: 3.5rem;
        width: 90%;
    }
}

.text-heading {
    font-family: 'Poppins', sans-serif;
    /*font-weight: 700;*/
    color: #fff;
    font-size: 2rem;/*1.6rem;*/
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .text-heading {
        font-size: 2rem;/*1.8rem;*/
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .text-heading {
        font-size: 0.4rem;
    }
}

.fade-in-text {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;/*16px;*/
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 0.1875rem 0.1875rem 0;/*border-radius: 0 3px 3px 0;*/
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0 0.1875rem 0.1875rem 0;/*border-radius: 0 3px 3px 0;*/
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.slideNumbers {
    font-size: 0.75rem;
    position: absolute;
    padding: 0.5rem 0.75rem;
    top: 0;
    color: #f2f2f2;
}

.dot {
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bbb;
    margin: 0 0.125rem;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}