.multiple {
  position: relative;
}

.multiple a img {
  width: 12px;
  height: 12px;
}

.acc-icon img.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.multiple .list-info {
  position: absolute;
  background-color: white;
  top: 30px;
  left: -20%;
  z-index: 1000;
  border: 1px solid var(--tertiary-green);
  border-radius: 4px;
  filter: drop-shadow(0 0 15px rgba(9, 53, 50, 0.1));
  max-width: 163px;
  min-width: 111px;
  max-height: 114px;
  overflow-y: auto;
  display: none;
}

.list-info ul {
  padding: 16px 16px 8px;
  list-style-type: disc;
  list-style-position: inside;
}

.list-info li {
  margin-bottom: 8px;
  font-size: var(--x-small-font-size);
  line-height: 14px;
  font-family: var(--regular-font);
  font-weight: 400;
  color: var(--dark-primary-green);
}

@media screen and (max-width: 768px) {
  .multiple .list-info {
    left: unset;
    right: 0;
  }
}