* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #1d625c;
    font-family: "Roboto", sans-serif;
}

strong {
    font-weight: bold;
}

.ChatWindow {
    width: 48rem;
    height: 72vh;
    padding: 2.5rem;
    padding-bottom: 10rem;
    overflow: hidden;
    overflow-y: auto;
    align-self: flex-end;
    background: #eee;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 0 0;
}

.ChatItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}

.ChatItem--expert {
    flex-direction: row-reverse;
}

.ChatItem-meta {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    width: 2.5rem;
}

.ChatItem--expert .ChatItem-meta {
    margin-right: 0;
    margin-left: 1.5rem;
}

.ChatItem-chatContent {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
}

.ChatItem-avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.ChatItem--expert .ChatItem-avatar {
    margin-right: 0;
}

.ChatItem-avatarImage {
    max-width: 100%;
    border-radius: 100em;
}

.ChatItem-avatarInitials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background: #ccc;
    color: #444;
    border-radius: 100em;
}

.ChatItem-chatText {
    position: relative;
    width: 70%;
    margin-bottom: 0.5rem;
    padding: 0.8rem 1rem;
    background: #1d625c;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
    line-height: 1.3;
}

.ChatItem-chatText:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -0.4rem;
    width: 1rem;
    height: 1rem;
    transform: scaleX(0.8) skew(45deg);
    background: #1d625c;
}

.ChatItem--expert .ChatItem-chatText:first-child::before {
    right: -0.4rem;
    left: auto;
    transform: skew(-40deg);
    background: #fff;
    background: #fff;
    box-shadow: 4px 0 4px -1px rgba(0, 0, 0, 0.1);
}

.ChatItem--expert .ChatItem-chatText {
    margin-left: auto;
    border: 1px solid #dbdbdb;
    background: white;
    color: #666;
}

.ChatItem-chatText>div {
    display: inline;
}

.ChatInput {
    position: absolute;
    bottom: -2px;
    left: 0%;
    z-index: 10;
    width: 47.3rem;
    height: 5rem;
    transform: translateX(0%);
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
}

.ChatInput-input {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0rem 1.5rem;
    padding-right: 1.25rem;
    border: 0;
    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
    font-size: 1rem;
    resize: none;
}

[contenteditable]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #999;
}

[contenteditable]:active,
[contenteditable]:focus {
    border: 0;
    border-top: 1px solid #ccc;
    outline: 0;
    box-shadow: inherit;
}

.ChatInput-btnSend {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    border: none;
    border-radius: 3px;
    background: #1d625c;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}

.glowEffect {
    color: #ea001e;
    transform: scale(1.1);
    box-shadow: 0 0 15px #ea001e;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}


@-webkit-keyframes blink {
    100% {
        box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #ea001e,
            0 0 20px #ea001e, 0 0 20px #ea001e;
    }
}

@keyframes blink {
    100% {
        box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #ea001e,
            0 0 20px #ea001e, 0 0 20px #ea001e;
    }
}