.slds-form-element__control .slds-input__icon.slds-input__icon_right {
  top: 65%;
  cursor: pointer;
  pointer-events: all;
}
.slds-input-has-icon .slds-icon {
  --sds-c-icon-color-foreground-default: var(--dark-primary-green);
}