@media (min-width: 768px) and (max-width: 1439px) {
    .scrollable-container {
        max-width: calc(91.6vw);
        overflow-x: scroll;
    }

    .scrollable-content {
        min-width: calc(91.6/100*1440px);
        max-width: calc(91.6/100*1440px);
        }

    .padding-right-none-medium {
        padding-right: 0;
    }
}