.header-container {
  background: var(--white);
  margin: 12px 0;
}

.brand-logo {
  width: 180px;
  height: auto;
}

.lang-container {
  display: flex;
  justify-content: end;
}

.slds-gutters_direct>.slds-col {
  padding-left: 0;
  padding-right: 0;
}

.skip {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}
.skip:focus {
  left: 0;
  top: 0;
  padding: 6px;
  background: #fff;
  border: 1px solid transparent;
}

@media (max-width: 1023px) {
  .brand-logo {
    min-width: 72px;
    width: 72px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .brand-logo {
    min-width: 114px;
    width: 114px;
  }
}