.container {
    margin: auto; 
  }

  .text-section {
    color: #fff;
    font-size: 15px;
    margin: 10px;
    text-align: center;
  }

  .text-section-new {
    position: absolute;
    color: #f2f2f2;
    font-size: 15px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(57, 57, 57, 0.5);
  }

  .text-desc {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slideNumbers {
    font-size: 12px;
    position: absolute;
    padding: 8px 12px;
    top: 0;
    color: #f2f2f2;
  }
  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bbb;
    margin: 0 2px;
    display: inline-block;
  }
  .active,
  .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes autoplay3 {
    0% {margin-top: 10em}
    4% {margin-top: 0em}
    31% {margin-top: 0em}
    35% {margin-top: -10em}
    64% {margin-top: -10em}
    68% {margin-top: -20em}
    96% {margin-top: -20em}
    100% {margin-top: -30em}
  }

  /* Bottom left text */
.bottom-center {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  z-index: 10;
}

.image_wrapper {
  position: relative;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.overlay {
  position: absolute; 
  background: rgba(57, 57, 57, 0.5);

  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay_1 {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.slds-modal__container {
  max-width: 80rem !important;
  width: 80% !important;
}


.box{
  margin: 10px;
  padding: 10px;
  height: 50px;
  background-color: #f5f5f5; 
  border: 1px #a4a1a1 solid;
}

.text-title {
  color: #0c963a;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.6;
}

.text-description {
  color: #000;
  font-size: 12px;
  line-height: 1.6;
}

.text-date {
  color: #b8b2b2;
  font-size: 12px;
  line-height: 1.6;
}

lightning-button.button {
	--sds-c-button-brand-color-background: #0976f3;
  --sds-c-button-text-color: #f4f7f9;
}

lightning-button.button1 {
  --sds-c-button-text-color: #0976f3;
}

tr:hover {
  background-color: transparent;
}

tr:hover td {
  background-color: transparent; /* or #000 */
}

tbody tr:hover {
  background-color: yellow;
}