.header-text {
  font-family: var(--bold-font);
  font-weight: 700;
  font-size: var(--xx-large-font-size);
  line-height: 26px;
  color: var(--dark-primary-green);
}

.widget-section {
  display: flex;
  align-self: center;
  justify-content: end;
}