.pagination {
  display: flex;
  justify-content: flex-end;
}

.header-text {
  font-family: var(--bold-font);
  font-weight: 700;
  font-size: var(--xx-large-font-size);
  line-height: 26px;
  color: var(--dark-primary-green);
}

@media screen and (max-width: 767px) {
  .pagination {
    justify-content: center;
  }
}