.sidebar{
    height:90vh;
}
.sidebar-button{    
    width: 20px;
}
.open-panel {
    width: 17%;
    overflow:unset;
    transition: .3s;
}
.close-panel {
    width: 0px;
    min-width: 0px;
    overflow:unset;
    transition: .3s;
}
.expand-panel{
    width: 100%;
    transition: .3s;
}
.collapse-panel{
    width: 82.5%;
    transition: .3s;
}
.page-section {
    border: solid 1px #ccc;
    padding: .25rem;
    background-color: #fff;
}

.refreshRotate {
    animation: rotate .4s;
}
.compact-input {
    width:400px;
		height:24px;
}
.button1{
    margin-right: 5px;
 }
 .button2{
    margin-left: 5px;
 }
 .rollup{
    display:flex;
    padding-left:10px;
 }
 .rolluptext1{
    color: #fff;
    margin-right:5px;
    font-size: 15px;
    background-color: #00544d;
    border-block: #00544d;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    height: auto;
 }
 .rolluptext2{
    color: #fff;
    margin-left:5px;
    font-size: 15px;
    background-color: #00544d;
    border-block:#00544d;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    height: auto;
 }
 .slds-notify{
    font-weight: 700;
    font-size: larger;
    background-color: rgb(201, 201, 201);
    font-style:normal;
    color: rgb(24, 24, 24);
    background-image: none;
 }
 .icon{
    padding: 0.1rem;
 }