.error-message {
  color: var(--error-orange);
  font-family: var(--regular-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  border-color: var(--error-orange);
  box-shadow: none
}