.close-icon-container>a:focus,
.close-icon-container>a:hover {
  outline: none;
  border: 1px solid var(--blue-lagoon);
}

.anchor-link {
  font-weight: 600;
}

.error-message{
  width: -webkit-fill-available;
}